body {
background-color: #434543;
margin: 0px;
padding: 0px;
font-size: 20px;
}

ul li {
font-size: 20px;
color: white;
font-family: arial;
}

.rep {
margin-right: 15px;
}


header {
background-color: #2a2b2a;
padding: 20px;
text-align: center;
font-family: arial;
font-size: 32px;
color: #ffffff;
}

.image-container {
display: flex;
align-items: center;
}

.header-content {
display: flex;
justify-content: space-between;
align-items: center;
}

nav ul {
list-style-type: none;
padding: 0;
}



nav ul li {
display: inline;
margin-left: 10px;
}

nav ul li a {
text-decoration: none;
color: #ffffff;
font-family: arial;
transition-duration: 0.2s;
border-radius: 8px;
font-size: 20px;
padding: 18px 14px;
margin-right: 50px;
}

nav ul li a:hover {
background-color: #999999;
color: rgb(0, 0, 0);
}

footer {
background-color: #2a2b2a;
text-align: center;
padding: 20px;
margin-top: 200px;
}

h1 {
font-family: arial;
color: white;
margin-left: 10px;
}

p {
font-family: arial;
color: white;
margin-left: 10px;
}

button {
transition-duration: 0.2s;
border-radius: 12px;
padding: 20px 16px;
font-size: 16px;
background-color: white;
color: black;
}

button:hover {
background-color: #2a2b2a;
color: white;
}

img{
margin: 10px;
}

video {
margin: 15px;
}
p a {
color: red;
font-size: 20px;
}

ol li {
font-size: 20px;
font-family: arial;
color: white;
}